[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/tmux/plugins/tmux-power"]
	path = .config/tmux/plugins/tmux-power
	url = https://git::@github.com/wfxr/tmux-power
