
* {
    font-family: "Fira Sans SemiBold";
    font-size: 12px;
    min-height: 16px;
}

window#waybar {
    background: rgba(0, 0, 0, 0.87);
}

button.focused {
    background-color: #000000;
}

#workspaces {
    border-radius: 0px 0px 0px 6px;
    margin-left: -9px;
}

#workspaces button:nth-child(1) .visible {
    border-radius: 0px 0px 0px 6px;
}

#workspaces button {
    padding: 5px 15px 5px 10px;
    color: #27585c;
    margin: 1px 0;
}


button:hover,
#workspaces button:hover {
    border-radius: 0;
    box-shadow: none;
    border-width: 0px;
    color: #6EE2FF;
	background: black;
}

button {
    border: 0px;
    margin: 2px 0;
}

#workspaces button.visible {
    color: #6EE2FF;
    border-radius: 0;
    box-shadow: none;
    border-width: 0px;
}

/* Active workspace */
#workspaces button.focused.current_output {
    color: #6EE2FF;
    border-radius: 0px;
}

#workspaces button.urgent {
    color: #6d4774;
    background-color: #cc3923;
    border-radius: 0px;
}

#workspaces button.focused:hover {
    color: #6EE2FF;
    background: black;
}


#clock,
#backlight,
#battery,
#cpu,
#custom-cpu_speed,
#custom-mail,
#custom-media,
#custom-powermenu,
#custom-spotify,
#custom-storage,
#custom-weather,
#idle_inhibitor,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#window,
#workspaces {
    padding: 1px 10px;
}

#battery {
    color: #6EE2FF;
}

#battery.charging {
    color: #7bc275;
}

#battery.warning:not(.charging) {
    color: #FCCE7B;
}

#battery.critical:not(.charging) {
    color: #eb4d4b;
}

#cpu {
    color: #6EE2FF;
}

#pulseaudio {
    color: #6EE2FF;
}

#network {
    color: #6EE2FF;
}

#memory {
    color: #6EE2FF;
}

#clock {
    color: #6EE2FF;
}

#language {
    color: #6EE2FF;
}

#backlight {
    color: #6EE2FF;
}

#temperature {
    color: #6EE2FF;
}

#temperature.critical {
    background: #eb4d4b;
}
